<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>see chats</title>
</head>
<body>
    <h3>All Chat!</h3>
    <form method ="Get" action="/new">
        <button>Add new Chat</button>
    </form>
    <br>
    <br>
    <% for(let chat of chats){ %>
        <div class="from">
            <p>from:<%=chat.from%></p>
        </div>
        <div class = "msg">
            <p><%= chat.msg %></p>
            <form method="GET" action="/chats/<%=chat._id %>/edit">
                <button>Edit Msg</button>
                </form>
        </div>
        <div class = "reciver">
            <p>Recived By <%= chat.to %></p>
        </div>
        <form method="POST"action="/chats/<%=chat._id%>?_method=DELETE">
            <button>delete</button>
        </form>
        </div>
        </div>
        <br>
        <hr>

   <% } %>
    
</body>
</html>